# string in Pyhton

### single line output in python

In [4]:
print('hello world')
print("Hello world")

hello world
Hello world

### MultiLine output in python
- ''' ''' tripple quotes is used for multi line output

In [7]:
print("""
      pakistan 
      zindaabad
      """)

      pakistan
      zindaabad

### single line comments
\# symbols is used to single line comments

""" """ quotes is used to multiline comments

In [9]:
# symbols is used to single line comments

"""multiline comments
multiline comments
multiline comments
multiline comments"""

'multiline comments\nmultiline comments\nmultiline comments\nmultiline comments'

## String and varaible concatenation

- f string method
- .format method
- concatenate with + operator

In [12]:
name = "kamran"
age = 45
city = "peshawar"
# way1
# f string which work as template letrals and dynamically concatenate the values
card1 = f"name:{name} age:{age} city:{city}"
print(card1)

name:kamran age:45 city:peshawar

In [13]:
name = "kamran"
age = 45
city = "peshawar"
# way2
# f string which work as template letrals and dynamically concatenate the values
card2 = "name:{} age:{} city:{}".format(name,age,city)
print(card2)
card2 = "name:{2} age:{1} city:{0}".format(city,age,name)
print(card2)

name:kamran age:45 city:peshawar
name:kamran age:45 city:peshawar

In [14]:
name = "kamran"
age = 45
city = "peshawar"
# way3
card3 = "name " + name + " age " + str(age) + " city " + city
print(card3)

name kamran age 45 city peshawar